h1 {color: cornflowerblue;}
a:visited{color: blueviolet;
background-color: blue;}
a:hover{color: hotpink;
background-color: greenyellow;}
a:active{color: blue;
background-color: white;}
a{display: list-item;
list-style-type: square;
list-style-position: inside;}
div.a{text-align: center;}